.lanyard-wrapper {
  position: absolute;
  z-index: 2;
  top: 48px;
  right: calc(clamp(1.25rem, 5vw, 5rem) + 104px);
  width: 320px;
  height: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transform-origin: center;
}

.hero-game-link {
  border-bottom: 2px solid var(--orange);
  padding-bottom: .3rem;
}

@media (max-width: 768px) {
  .lanyard-wrapper {
    right: calc(clamp(1.25rem, 5vw, 5rem) + 84px);
    width: 250px;
    height: 360px;
    opacity: .9;
  }
}
